.footer {
  width:100%;
  margin: .5rem auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text {
  color: var(--border-color);
  font-size: 0.78rem;
  font-weight: 400;
}