:root {
  line-height: 1.5;
  font-weight: 600;
  
  --primary: #333333;
  --text-logo: #282051;
  --bg: #FFFFFF;
  --blue-bg: #2F80ED;
  --blue-text:#2D9CDB;
  --grey: #828282;
  --border-color:#BDBDBD;
  --grey-button:#4F4F4F;

  --red: #EB5757;



  --font-primary: 'Noto Sans', sans-serif;

  font-family: var(--font-primary);
  
}



body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  background-color: var(--bg);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


